.PhotoListContainer {
  margin: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ModalImageParent {
  display: flex;
  justify-content: center;
}

.Spinner {
  margin-top: 300px;
}

.PhotoParent {
  margin: 10px;
  cursor: pointer;
}
